audiomentations
diskcache 
google-cloud
google-cloud-storage
ipykernel
librosa
matplotlib
paho-mqtt
xgboost
numpy
pandas
pydot
pydub
pymongo[srv]
pyproj
scipy
unzip
geopy
folium
shapely
ipympl
paho-mqtt<2.0.0
asyncio-mqtt
networkx