audiomentations
diskcache 
google-cloud
google-cloud-storage
ipykernel
librosa
matplotlib
paho-mqtt==1.6.1
xgboost
numpy
pandas
pydot
pydub
pymongo[srv]
pyproj
scipy
unzip
geopy
folium
shapely
ipympl
asyncio-mqtt
networkx