audiomentations
diskcache 
google-cloud
google-cloud-storage
ipykernel
librosa
matplotlib
paho-mqtt
tensorflow-addons
tensorflow_hub
tensorflow_io
xgboost
numpy
pandas
pydot
pydub
pyproj
scipy
unzip
geopy
folium
shapely
ipympl
paho-mqtt
asyncio-mqtt
networkx