apiVersion: apps/v1
kind: Deployment
metadata:
  name: mserver-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mserver
  template:
    metadata:
      labels:
        app: mserver
    spec:
      containers:
        - name: mserver
          image: australia-southeast2-docker.pkg.dev/sit-23t1-project-echo-25288b9/project-echo/mserver:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: mserver-env
