
*.DS_Store
*.pyc
*.hdf5
*.env

tensorboard_logs/
logs/
models/
src/Components/Engine/models/*

src\Prototypes\api\__pycache__

src/Prototypes/hmi/ui/node_modules/*
src/Components/HMI/ui/node_modules/*

# Temporary files from Cloud Storage (added by ptanmay143)
.tmp.driveupload
src/Components/RecordingProcessor/RecordingImports/*
src/Components/RecordingProcessor/Experiments/EuclideanComparisons
src/Components/RecordingProcessor/Experiments/NoiseReductionTests
src/Components/RecordingProcessor/Experiments/OnsetDetection
src/Components/RecordingProcessor/Experiments/TimingOld
src/Components/RecordingProcessor/Experiments/0_InitialProcessing/combined/*
