@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.title {
    font-size: 30px; /* Increase font size */
    text-align: center; /* Center the text within its container */
    top: 0px;
    left: 0px;
    font-size: 20px;
    height: 10%;
    font-family: 'Stick No Bills', sans-serif;
}

.navbar {
    min-height: 80px; 
}

.navbar-brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    height: 80px;
}

.nav_item > .navbar-brand.selected {
    border-bottom: 3px solid #4D934D;
    background: linear-gradient(0deg, rgba(77,147,77,1) 0%, rgba(0,212,255,0) 40%);
}

.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}

.navbar > .search_engine {
    display: flex;
    width: 30%;
    margin-right: 4.5%;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.logo {
    margin-right: 10px;
}

#basemap {
    /*height: 70%;*/
    width: 70%;
    /*padding: 20px;*/
    /*border: 1px solid #e7e7e7;*/
    /*border-radius: 10px;*/
}

.main {
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
}

.col-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
}

#filter-menu {
    width: 25%;
    height: 450px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    overflow-y: scroll;
}

  /* Style the scrollbar for WebKit browsers */
#filter-menu::-webkit-scrollbar {
    width: 7px;
}

#filter-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin: 3px;
    border-radius: 20px;
}

#filter-menu::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}
.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle i {
    margin-right: 5px;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-menu li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.form-check-input {
    margin-top: 2px;
}

#content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#leftPane{
    display: flex;
    width: 300px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#rightPane{
    width: 80%;
    height: 100%;
    position: relative;
}

#menuPanel{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #d7d5d5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 30px;
}

#menuPanel a , #menuPanel h2{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 27px;
    color: #1a1a1a;
    display: block;
    transition: 0.3s;
    font-family: 'Stick No Bills', sans-serif;
}

#menuPanel div{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #1a1a1a;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

#menuPanel img{
    padding: 8px 8px 8px 32px;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.3s;
    font-family: 'Stick No Bills', sans-serif;
}

#menuPanel a:hover {
    color: rgb(var(--background-rgb));
}

#area {
    position: relative;  /* this is needed! */  
    height: 150px;
    background: #eee;
    margin: 40px;
}

#popup {
    position: absolute;
    height: 10vh;
    width: 20vw;
    background: rgb(39, 39, 39);
    display: none;
    z-index: 2;
    opacity: 0.8;
    color:rgb(19, 101, 19);
}

i {
    color: white;
}