@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    background: #1a1a1a;
}

.title {
    font-size: 30px; /* Increase font size */
    text-align: center; /* Center the text within its container */
    top: 0px;
    left: 0px;
    font-size: 20px;
    height: 10%;
    font-family: 'Stick No Bills', sans-serif;
}

.navbar {
    min-height: 80px; 
}

.navbar-brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    height: 80px;
}

.nav_item > .navbar-brand.selected {
    
}

.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}

.navbar > .search_engine {
    display: flex;
    width: 30%;
    margin-right: 4.5%;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.logo {
    margin-right: 10px;
}

#blur {
    background-color: #1a1a1a;
}

#basemap {
    /*height: 70%;*/
    width: 70%;
    /*padding: 20px;*/
    /*border: 1px solid #e7e7e7;*/
    /*border-radius: 10px;*/
}

.main {
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
}

.col-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
}

#filter-menu {
    width: 25%;
    height: 80%;
    margin-left: 20px;
    padding: 20px;
    background-color: black;
    
}

  /* Style the scrollbar for WebKit browsers */




  .dropdown-menu {
    width: auto;
    max-width: none;
    white-space: nowrap;
  }
  
  .dropdown-menu .col {
    
    vertical-align: top;
    width: 1%;
    
    padding: 0 10px;
  }

.dropdown {
    background-color: black;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    border-radius: 0;
    background-color: black;
    color: black;
}

.dropdown-toggle i {
    margin-right: 5px;
    border-radius: 0;
    background-color: black;
    color: black;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0;
    
}

.dropdown-menu li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    border-radius: 0;
    
}

.form-check-input {
    margin-top: 2px;
}

#content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#leftPane{
    display: flex;
    width: 300px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#rightPane{
    width: 80%;
    height: 100%;
    position: relative;
}


#ABOUT{
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    
    padding-top: 60px;
    margin-top: 30px;

}


#FAQ{
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding-top: 60px;
    margin-top: 30px;
}


#FAQ a{

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color:  white;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

#menuPanel{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 30px;
}



#menuPanel a , #menuPanel h2{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 27px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Helvetica', sans-serif;
}

#menuPanel div{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color:  white;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

#menuPanel img{
    padding: 8px 8px 8px 32px;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.3s;
    font-family: 'Stick No Bills', sans-serif;
}

#menuPanel a:hover {
    color: rgb(var(--background-rgb));
}

#area {
    position: relative;  /* this is needed! */  
    height: 150px;
    background: #eee;
    margin: 40px;
}

#popup {
    position: absolute;
    height: 10vh;
    width: 20vw;
    background: rgb(39, 39, 39);
    display: none;
    z-index: 2;
    opacity: 0.8;
    color:rgb(19, 101, 19);
}

i {
    color: white;
}


.dropdown-toggle {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    color: #666;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }

  .dropdown-toggle:hover {
    background-color: none;
  }

  .dropdown-menu {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 0;
    
    border-top: none;
    background-color: black;
    color: white;
    padding: 0;
    list-style: none;
  }

  /* Show the dropdown menu when the button is clicked */
  .show + .dropdown-menu {
    display: block;
    padding: 20px;
  }

  button {
    background-color: transparent;
  }

  .btn-no-background {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    
  }

  .btn-no-background:hover,
  .btn-no-background:focus {
    background-color: transparent;
    border-bottom: 1px solid white;
    
  }

  /* Style the list items */
  .dropdown-menu li {
    padding: 8px 16px;
    cursor: pointer;
  }

  .dropdown-menu li:hover {
    opacity: 0.5;
  }



  /* Style the checkboxes */
  .form-check-input {
    margin-right: 8px;
  }

  .form-check {
    padding-right: 1em;
  }

  .col {
    padding-top: 1em;
    padding-left: 1em;
  }

  .form-check-label {
    font-size: .8em;
  }
  .voc-icon {
    z-index: 9999;
    
  }
  .voc-icon:hover {
    cursor: pointer;
    opacity: .5;
    pointer-events: auto;
  }
  