#
# Note: this assumes you have created an ubuntu 22.04 WSL2 console
# Add also you have installed the Lambda Stack already.
#
# sudo apt-get install -y python3-pip libopenexr-dev
#
# These are the additional dependencies required by project echo
# Tested on this version:
# Linux 5.15.90.1-microsoft-standard-WSL2 #1 SMP Fri Jan 27 02:56:13 UTC 2023 x86_64 x86_64 x86_64 GNU/Linux
#
tensorflow==2.11.0
tensorflow-gpu==2.11.0