tensorflow>=2.12.*
protobuf==3.20.3
tensorflow-serving-api==2.11.*
tensorflow_addons==0.20.*
tensorflow_io==0.32.0
tensorflow_hub==0.13.0
paho-mqtt
diskcache
matplotlib
audiomentations
librosa==0.10.0