<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_60eb4c1616b1a828b09eb31c3bfdfee8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_60eb4c1616b1a828b09eb31c3bfdfee8" ></div>
        
</body>
<script>
    
    
            var map_60eb4c1616b1a828b09eb31c3bfdfee8 = L.map(
                "map_60eb4c1616b1a828b09eb31c3bfdfee8",
                {
                    center: [-38.79095988446056, 143.56225113611103],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2257f9338629cfa7f5f0ec9a38cc0b33 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var marker_6684c5b4047ebb7b53879735f8f2166a = L.marker(
                [-38.78497262306756, 143.5764156772145],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_43740ee9b4b88e85f3040fdf053e3747 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_6684c5b4047ebb7b53879735f8f2166a.setIcon(icon_43740ee9b4b88e85f3040fdf053e3747);
        
    
            var marker_e181be18dd8b5f6e8f17e35adbedeed2 = L.marker(
                [-38.776531369271424, 143.56392301568638],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_9d0d39b46e56236065025926f1ab2601 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e181be18dd8b5f6e8f17e35adbedeed2.setIcon(icon_9d0d39b46e56236065025926f1ab2601);
        
    
            var marker_9b825a5bd924ddc6de2ac38dd031a2f3 = L.marker(
                [-38.789008464904235, 143.5459748851971],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_e56c1cf0359b1cd554d128e6a0a106cf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_9b825a5bd924ddc6de2ac38dd031a2f3.setIcon(icon_e56c1cf0359b1cd554d128e6a0a106cf);
        
    
            var marker_53e47c0c1c0441004001433379785750 = L.marker(
                [-38.80127769796105, 143.5766295562766],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_864f8ccc38e58b27372632133eb3a410 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_53e47c0c1c0441004001433379785750.setIcon(icon_864f8ccc38e58b27372632133eb3a410);
        
    
            var marker_cfd183afd12ff2645ee05030b3094bfc = L.marker(
                [-38.80294603272352, 143.54913830538382],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_e118a3ce2509bdde8a0c1c1ccf1c0a27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_cfd183afd12ff2645ee05030b3094bfc.setIcon(icon_e118a3ce2509bdde8a0c1c1ccf1c0a27);
        
    
            var marker_f72fe842f7676d0679b35ecc2283052c = L.marker(
                [-38.78045711947706, 143.5634748407603],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_281e72f0bb1e74f3c5aea822fc5b5b64 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_f72fe842f7676d0679b35ecc2283052c.setIcon(icon_281e72f0bb1e74f3c5aea822fc5b5b64);
        
    
            var marker_e81938dda7db2a045b550349aafc5087 = L.marker(
                [-38.80519233206326, 143.5779234797951],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_41071e89b44ae532e72b7ba1d19336b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e81938dda7db2a045b550349aafc5087.setIcon(icon_41071e89b44ae532e72b7ba1d19336b3);
        
    
            var marker_2e6a7152916575caedc6e110c3c9f47d = L.marker(
                [-38.78260353056057, 143.5768868763406],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_8a96ddc9beed4d42624bcbe93d20553d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_2e6a7152916575caedc6e110c3c9f47d.setIcon(icon_8a96ddc9beed4d42624bcbe93d20553d);
        
    
            var marker_1277d5a701f6ff6325eade3e1e961f54 = L.marker(
                [-38.78634282680902, 143.57827251251578],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_d3d17fb9799f56143bc9b4f640ca2575 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_1277d5a701f6ff6325eade3e1e961f54.setIcon(icon_d3d17fb9799f56143bc9b4f640ca2575);
        
    
            var marker_0f034160398833a1b4233f3179c89caa = L.marker(
                [-38.79160316352423, 143.57922109423217],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_f4045ae014264dbc6539fb929a57390b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_0f034160398833a1b4233f3179c89caa.setIcon(icon_f4045ae014264dbc6539fb929a57390b);
        
    
            var marker_81c88a4ebde80f87cb39a56123d47932 = L.marker(
                [-38.79557803375082, 143.5460164833433],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_4fbd36a5c4308a15f39a7641699328d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_81c88a4ebde80f87cb39a56123d47932.setIcon(icon_4fbd36a5c4308a15f39a7641699328d6);
        
    
            var marker_0feca9b12de6091b3f3c99d353f8042e = L.marker(
                [-38.79779038939927, 143.57608305386998],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_c7be7596eeca346285c469c41f6545c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_0feca9b12de6091b3f3c99d353f8042e.setIcon(icon_c7be7596eeca346285c469c41f6545c2);
        
    
            var marker_a420ca226135c17458f1ee441f59928a = L.marker(
                [-38.777941321659945, 143.55914280881572],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_d3aa3a34ae9903a0b3eb998db8aa7102 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_a420ca226135c17458f1ee441f59928a.setIcon(icon_d3aa3a34ae9903a0b3eb998db8aa7102);
        
    
            var marker_3c5e7ac9c25986bf52d80a4d763e90dc = L.marker(
                [-38.79662921603418, 143.57331699114104],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_d20d500f429f28a49ba370886389c46e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_3c5e7ac9c25986bf52d80a4d763e90dc.setIcon(icon_d20d500f429f28a49ba370886389c46e);
        
    
            var marker_7c423f261b239246ddc738f55070a2e4 = L.marker(
                [-38.78766598292051, 143.5486352582174],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_6188821ef9ec39edf048d08b1a515dc2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_7c423f261b239246ddc738f55070a2e4.setIcon(icon_6188821ef9ec39edf048d08b1a515dc2);
        
    
            var marker_d9a1d56ff9f594609cf8763507c2a0ba = L.marker(
                [-38.79359841592431, 143.56925572421804],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_2c86aa9593c32d5c27dd3ae5baf54a72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_d9a1d56ff9f594609cf8763507c2a0ba.setIcon(icon_2c86aa9593c32d5c27dd3ae5baf54a72);
        
    
            var marker_c6a5b7ba5ea66a2b14df5e24071f00e7 = L.marker(
                [-38.77960158254475, 143.5736873735582],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_9420c49f96f1f88faadd423e82a31d27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_c6a5b7ba5ea66a2b14df5e24071f00e7.setIcon(icon_9420c49f96f1f88faadd423e82a31d27);
        
    
            var marker_31f45f62ac761c3723aeea5fe0616e33 = L.marker(
                [-38.80148322753781, 143.57181617451292],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_d4cc2dcde50d34af5dc08831f78551f2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_31f45f62ac761c3723aeea5fe0616e33.setIcon(icon_d4cc2dcde50d34af5dc08831f78551f2);
        
    
            var marker_f02b8b53ffc73ed248f2248a6987fc63 = L.marker(
                [-38.78520260987872, 143.54468410825604],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_fb7704573619222cdd8f401ad40965e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_f02b8b53ffc73ed248f2248a6987fc63.setIcon(icon_fb7704573619222cdd8f401ad40965e6);
        
    
            var marker_7a903780de1372b3ebbb191105e2fedf = L.marker(
                [-38.77986261273322, 143.54432178346244],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_679fadc32f965675e89b4fd37e28302d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_7a903780de1372b3ebbb191105e2fedf.setIcon(icon_679fadc32f965675e89b4fd37e28302d);
        
    
            var marker_88e774b364a37f052ecda1aa88fa5693 = L.marker(
                [-38.78759170755784, 143.57567627927537],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_ab2e07ad133c5a2d8cf097b08a14c88b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_88e774b364a37f052ecda1aa88fa5693.setIcon(icon_ab2e07ad133c5a2d8cf097b08a14c88b);
        
    
            var marker_f329347350e164d205e34be3ecc76ef9 = L.marker(
                [-38.79172606797891, 143.57214794963477],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_3267f0e1531e487bba2cebc1f6b90488 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_f329347350e164d205e34be3ecc76ef9.setIcon(icon_3267f0e1531e487bba2cebc1f6b90488);
        
    
            var marker_855507031e19db695d4440e7317c28e9 = L.marker(
                [-38.79308929272619, 143.55280849054202],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_9bcdb3df8d54f5bb8b47467d37457d05 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_855507031e19db695d4440e7317c28e9.setIcon(icon_9bcdb3df8d54f5bb8b47467d37457d05);
        
    
            var marker_330f4ba399948877464444b53e08d042 = L.marker(
                [-38.78211902182082, 143.55300761595205],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_d3d65af493658297ea7b67fbff748daf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_330f4ba399948877464444b53e08d042.setIcon(icon_d3d65af493658297ea7b67fbff748daf);
        
    
            var marker_16d9c5f80cd7d1910bd7d687449e2b00 = L.marker(
                [-38.779050590015984, 143.5563472696219],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_e49229c33372c1103a6ed669eecd0067 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_16d9c5f80cd7d1910bd7d687449e2b00.setIcon(icon_e49229c33372c1103a6ed669eecd0067);
        
    
            var marker_38b7cb52c1d6b1d5098a2b801d1ce6fe = L.marker(
                [-38.77913576556809, 143.5646930139642],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_0d7d8ff6a35125d681963817a8489747 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_38b7cb52c1d6b1d5098a2b801d1ce6fe.setIcon(icon_0d7d8ff6a35125d681963817a8489747);
        
    
            var marker_da0f06f040ddd2361399f79adad773b7 = L.marker(
                [-38.78130261710149, 143.5669454842915],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_390616e4d79af453abafc6426148285e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_da0f06f040ddd2361399f79adad773b7.setIcon(icon_390616e4d79af453abafc6426148285e);
        
    
            var marker_1a1337a53946ad7dedf4845041a46220 = L.marker(
                [-38.792304231451546, 143.5768540326757],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_540adc3c37d5d69e7e29595af9743446 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_1a1337a53946ad7dedf4845041a46220.setIcon(icon_540adc3c37d5d69e7e29595af9743446);
        
    
            var marker_a1a9c1dad5319e6b67e947b769fe9fac = L.marker(
                [-38.803224701670175, 143.55802935105004],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_c4f788af2c79c4c5a968dcc0f1973a3b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_a1a9c1dad5319e6b67e947b769fe9fac.setIcon(icon_c4f788af2c79c4c5a968dcc0f1973a3b);
        
    
            var marker_a1dff513f77ffa836bb3fbbbd7353b25 = L.marker(
                [-38.79414397348624, 143.56282963655246],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_783fc7d74b8a28a0ece1796039925b06 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_a1dff513f77ffa836bb3fbbbd7353b25.setIcon(icon_783fc7d74b8a28a0ece1796039925b06);
        
    
            var marker_700d782d05547ac7a9331dd7a0b75d3b = L.marker(
                [-38.78761815393444, 143.57726135917488],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_f6652020703099b422d109dbd86f3651 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_700d782d05547ac7a9331dd7a0b75d3b.setIcon(icon_f6652020703099b422d109dbd86f3651);
        
    
            var marker_6b93c8d03329ec2d2a7be92e931a6dfc = L.marker(
                [-38.78309097419198, 143.57812153087667],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_0211250bf9a4850ca5b02cb881e86b3f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_6b93c8d03329ec2d2a7be92e931a6dfc.setIcon(icon_0211250bf9a4850ca5b02cb881e86b3f);
        
    
            var marker_bcce5f63736ad7b6d75035a54e5e2b90 = L.marker(
                [-38.784037816028025, 143.5804312420115],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_5727ec84fc35975285d48cfda876cd8d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_bcce5f63736ad7b6d75035a54e5e2b90.setIcon(icon_5727ec84fc35975285d48cfda876cd8d);
        
    
            var marker_fdad7bffc508799e4e7041ab51b69406 = L.marker(
                [-38.78075873156903, 143.54823048825338],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_bc0f866331f662a5352e41863b245314 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_fdad7bffc508799e4e7041ab51b69406.setIcon(icon_bc0f866331f662a5352e41863b245314);
        
    
            var marker_d9af1d0cb653c056027e4a300e467124 = L.marker(
                [-38.78659612160307, 143.57436882692434],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_71daaaf0f63198a8313ee8cfae289097 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_d9af1d0cb653c056027e4a300e467124.setIcon(icon_71daaaf0f63198a8313ee8cfae289097);
        
    
            var marker_7ccb0df012bbebd04f4910edab983e0e = L.marker(
                [-38.80124770364169, 143.57043942550277],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_40b542b0408711b6c1c01ad5408a0daf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_7ccb0df012bbebd04f4910edab983e0e.setIcon(icon_40b542b0408711b6c1c01ad5408a0daf);
        
    
            var marker_e42b4831b551d2ee1a11fbb405887ba0 = L.marker(
                [-38.80028775661462, 143.56528096714732],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_e57be46366e63339a48a72b7fe71a066 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e42b4831b551d2ee1a11fbb405887ba0.setIcon(icon_e57be46366e63339a48a72b7fe71a066);
        
    
            var marker_02ccbd7823bd56bcd4142a0947fc4e25 = L.marker(
                [-38.802059617382476, 143.55550352957644],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_efc1ea4289d10276b260ed511329dc1c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_02ccbd7823bd56bcd4142a0947fc4e25.setIcon(icon_efc1ea4289d10276b260ed511329dc1c);
        
    
            var marker_6cce50304c4a60f4021f916ab958fe2d = L.marker(
                [-38.78930500820463, 143.54827739303846],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_42d3c2bb2d6503a98bff725e210c6042 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_6cce50304c4a60f4021f916ab958fe2d.setIcon(icon_42d3c2bb2d6503a98bff725e210c6042);
        
    
            var marker_14e9255fb1a3c4ef85a2f4148ba9d4a8 = L.marker(
                [-38.78989982638732, 143.54464438990203],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_8aad4a0c082f4dd0cae83033a0caf41a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_14e9255fb1a3c4ef85a2f4148ba9d4a8.setIcon(icon_8aad4a0c082f4dd0cae83033a0caf41a);
        
    
            var marker_1b6a0bb59bbbdd5b7bf7d0b49de7c26b = L.marker(
                [-38.79962481058054, 143.56078773350137],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_5949f2afaac079303aa6e33f841c8826 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_1b6a0bb59bbbdd5b7bf7d0b49de7c26b.setIcon(icon_5949f2afaac079303aa6e33f841c8826);
        
    
            var marker_d1bd08b1fd639d77cbdeb666a6a65a83 = L.marker(
                [-38.79088465464149, 143.56666245641807],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_d383dd36399a5f188de54d409a4e6887 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_d1bd08b1fd639d77cbdeb666a6a65a83.setIcon(icon_d383dd36399a5f188de54d409a4e6887);
        
    
            var marker_7d28d090e05f58b9c6747c948dde1e25 = L.marker(
                [-38.78487921256822, 143.55423482793847],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_95c6518464cc3218d7c605faaadc3b87 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_7d28d090e05f58b9c6747c948dde1e25.setIcon(icon_95c6518464cc3218d7c605faaadc3b87);
        
    
            var marker_3b0d8d0b6fd8529e045da15a32e4ee31 = L.marker(
                [-38.78825773169146, 143.56548785097257],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_dbe325a01eaef35a16b2ea1602d8017f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_3b0d8d0b6fd8529e045da15a32e4ee31.setIcon(icon_dbe325a01eaef35a16b2ea1602d8017f);
        
    
            var marker_be680e5c76811f4bae6880a0d74e69f0 = L.marker(
                [-38.78151783373284, 143.57096808520757],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_05bb5639c356cd751a2d3facdfb39614 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_be680e5c76811f4bae6880a0d74e69f0.setIcon(icon_05bb5639c356cd751a2d3facdfb39614);
        
    
            var marker_a2389334a31384be01d7372699034f6b = L.marker(
                [-38.78449451998077, 143.5592073953604],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_52fd9fa7d1b5b8ae1adb78dc0e1dfc97 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_a2389334a31384be01d7372699034f6b.setIcon(icon_52fd9fa7d1b5b8ae1adb78dc0e1dfc97);
        
    
            var marker_437dcaaa5ebeb1cb67027ccdf063dbdf = L.marker(
                [-38.804268513958405, 143.57425335624436],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_f889a2c473c0209128c99544df899b6a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_437dcaaa5ebeb1cb67027ccdf063dbdf.setIcon(icon_f889a2c473c0209128c99544df899b6a);
        
    
            var marker_c41fdb888d7b0c4f63420df782c566e4 = L.marker(
                [-38.79120111069626, 143.55116062062405],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_4fa49d8395e7794f59614076294c3737 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_c41fdb888d7b0c4f63420df782c566e4.setIcon(icon_4fa49d8395e7794f59614076294c3737);
        
    
            var marker_6fa5e0e66ff8ecb63ddf83cd3be5f68b = L.marker(
                [-38.78450228718424, 143.5661797120009],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_f20777515f1b5f6eef90f28351eebe19 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_6fa5e0e66ff8ecb63ddf83cd3be5f68b.setIcon(icon_f20777515f1b5f6eef90f28351eebe19);
        
    
            var marker_e7350329e055f4e3096ab6902d5d6b7f = L.marker(
                [-38.796227741804486, 143.55655469041582],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_a60dc6f4882477e07f7465b67ea71510 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e7350329e055f4e3096ab6902d5d6b7f.setIcon(icon_a60dc6f4882477e07f7465b67ea71510);
        
    
            var marker_62b0fd166b8f92b64708788c57e744b2 = L.marker(
                [-38.78792486032887, 143.573079095391],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_ca5a0ea6eb476291afeeb8b4fbb946a0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_62b0fd166b8f92b64708788c57e744b2.setIcon(icon_ca5a0ea6eb476291afeeb8b4fbb946a0);
        
    
            var marker_965996b2d04f099ed5cbc4e53de270bf = L.marker(
                [-38.79025128354955, 143.5538210549859],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_469abc63eb0b4367eee6dff1e0999f34 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_965996b2d04f099ed5cbc4e53de270bf.setIcon(icon_469abc63eb0b4367eee6dff1e0999f34);
        
    
            var marker_b1cdadc76109809ade0e81d4c3aee134 = L.marker(
                [-38.7987405364136, 143.55354115296285],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_15cf6543ed3465f1bfea1d9b53acc7fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_b1cdadc76109809ade0e81d4c3aee134.setIcon(icon_15cf6543ed3465f1bfea1d9b53acc7fd);
        
    
            var marker_ccac599279fdc767029f36e9d08e240c = L.marker(
                [-38.80048935044077, 143.5493511025966],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_393be8649e5a54c727ba8b3c3cc37c84 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_ccac599279fdc767029f36e9d08e240c.setIcon(icon_393be8649e5a54c727ba8b3c3cc37c84);
        
    
            var marker_9bc300427e7188c32a0eae9e5cb0e26c = L.marker(
                [-38.79365730973392, 143.5465670613909],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_6e45a9538cfbc990148e988da2e0d81c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_9bc300427e7188c32a0eae9e5cb0e26c.setIcon(icon_6e45a9538cfbc990148e988da2e0d81c);
        
    
            var marker_1b5c93e6c5949fbf3341843793a6be28 = L.marker(
                [-38.78388637610457, 143.56856006458878],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_85c7f554ddb1182914a23f07df204c83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_1b5c93e6c5949fbf3341843793a6be28.setIcon(icon_85c7f554ddb1182914a23f07df204c83);
        
    
            var marker_935b9a5519343eeac6ba3570619b1916 = L.marker(
                [-38.800342042584994, 143.5517421037059],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_ba6fa7620cbe84e8430615ea6a8b68b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_935b9a5519343eeac6ba3570619b1916.setIcon(icon_ba6fa7620cbe84e8430615ea6a8b68b8);
        
    
            var marker_c46b526c197ce1c2c658d45fb99c82ae = L.marker(
                [-38.77863642908425, 143.57368491774633],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_f4f1ac637fa95ffcd84cfe7eec5c88bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_c46b526c197ce1c2c658d45fb99c82ae.setIcon(icon_f4f1ac637fa95ffcd84cfe7eec5c88bc);
        
    
            var marker_c0628f46447053e2f55b58bf3c56ff83 = L.marker(
                [-38.80354610768633, 143.5695538038246],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_a4636f2bb3b2f8e27880e7c10947fec5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_c0628f46447053e2f55b58bf3c56ff83.setIcon(icon_a4636f2bb3b2f8e27880e7c10947fec5);
        
    
            var marker_590c432b2dc98c1f2a20f1642fe28630 = L.marker(
                [-38.78956598425984, 143.57235266530634],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_38d95c7bdf1cff7661f96020a6f5806b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_590c432b2dc98c1f2a20f1642fe28630.setIcon(icon_38d95c7bdf1cff7661f96020a6f5806b);
        
    
            var marker_30716eb266b397dfe6c67a5383c90125 = L.marker(
                [-38.794182424151906, 143.55160133358285],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_88a2358430bd09358805cc7fae86ae43 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_30716eb266b397dfe6c67a5383c90125.setIcon(icon_88a2358430bd09358805cc7fae86ae43);
        
    
            var marker_053395b671ccc131ec3ffee47abd1410 = L.marker(
                [-38.79715722510253, 143.55233375801663],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_1367ae7119d460da3956fe42a1de9432 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_053395b671ccc131ec3ffee47abd1410.setIcon(icon_1367ae7119d460da3956fe42a1de9432);
        
    
            var marker_142c2609d28e16aa3619c11dd3d0d073 = L.marker(
                [-38.795762320664, 143.5790682153423],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_64faf25968a5b973a9d205a197da305d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_142c2609d28e16aa3619c11dd3d0d073.setIcon(icon_64faf25968a5b973a9d205a197da305d);
        
    
            var marker_5bca31fad7b91925b5a3d8347722bdec = L.marker(
                [-38.7946659780005, 143.57563430651481],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_af01944611b1d3af00fd803b48ea871f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_5bca31fad7b91925b5a3d8347722bdec.setIcon(icon_af01944611b1d3af00fd803b48ea871f);
        
    
            var marker_01c106ec7c9c4ce4db14eaf4ef314596 = L.marker(
                [-38.79972588457698, 143.57980741698617],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_4a53246091612ddf0f1c7e6798fd6548 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_01c106ec7c9c4ce4db14eaf4ef314596.setIcon(icon_4a53246091612ddf0f1c7e6798fd6548);
        
    
            var marker_1e6d0ae8beb12c57b06b9208ebb3c939 = L.marker(
                [-38.77865263689466, 143.54955030285743],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_6690e99aa63b689c407c896c7dad51b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_1e6d0ae8beb12c57b06b9208ebb3c939.setIcon(icon_6690e99aa63b689c407c896c7dad51b5);
        
    
            var marker_02308baeabae2ba03c432f969a5f26eb = L.marker(
                [-38.77861305561982, 143.56645318566672],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_97c1cd833530224cb7690c3bbe7c7959 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_02308baeabae2ba03c432f969a5f26eb.setIcon(icon_97c1cd833530224cb7690c3bbe7c7959);
        
    
            var marker_02a87984ff509cd1708f4cce1a297756 = L.marker(
                [-38.789238228859155, 143.5789225903481],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_4d441828a8496e147cbccc66130eae5c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_02a87984ff509cd1708f4cce1a297756.setIcon(icon_4d441828a8496e147cbccc66130eae5c);
        
    
            var marker_30e2adcffed602b9fa5e7ae25d2ee881 = L.marker(
                [-38.78240895562472, 143.56886440459428],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_22993bd0ae8611d68caa948f9b6171ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_30e2adcffed602b9fa5e7ae25d2ee881.setIcon(icon_22993bd0ae8611d68caa948f9b6171ec);
        
    
            var marker_98047ae305807e7f2ffe05aef602f526 = L.marker(
                [-38.80501542259084, 143.55871729313],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_3c2a1c9aa825405342d05c163ce6c386 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_98047ae305807e7f2ffe05aef602f526.setIcon(icon_3c2a1c9aa825405342d05c163ce6c386);
        
    
            var marker_039ce83e0aa196b87690487fa05a5b12 = L.marker(
                [-38.78298461969069, 143.57181353981386],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_57fee461caea659fa074c979456a05d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_039ce83e0aa196b87690487fa05a5b12.setIcon(icon_57fee461caea659fa074c979456a05d2);
        
    
            var marker_6efd581bc4dcd9f7eecfed7d9b887c3b = L.marker(
                [-38.78071306591783, 143.55774860865193],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_d8aec84978f116b28faceb2bb01a52f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_6efd581bc4dcd9f7eecfed7d9b887c3b.setIcon(icon_d8aec84978f116b28faceb2bb01a52f1);
        
    
            var marker_e14b075eda5878f8f6944209c4d3b07d = L.marker(
                [-38.80310496328942, 143.55383826674733],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_13128fc4680a329016a3aeb6de387a4e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e14b075eda5878f8f6944209c4d3b07d.setIcon(icon_13128fc4680a329016a3aeb6de387a4e);
        
    
            var marker_68f004bd95908a47a499d6662418f108 = L.marker(
                [-38.793368862960826, 143.5550387191745],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_d4095cc6bea89800496e4af60caf6d62 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_68f004bd95908a47a499d6662418f108.setIcon(icon_d4095cc6bea89800496e4af60caf6d62);
        
    
            var marker_e7f1c24fb389a2433415136fa291c247 = L.marker(
                [-38.79300447924755, 143.57821143152253],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_9baf743457a278d946a14fedaca032d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e7f1c24fb389a2433415136fa291c247.setIcon(icon_9baf743457a278d946a14fedaca032d8);
        
    
            var marker_e99364c64eb1aed419999fe79c0f2934 = L.marker(
                [-38.78189880033741, 143.58126039875515],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_813ab0c140daefe22cd797199fe8791c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e99364c64eb1aed419999fe79c0f2934.setIcon(icon_813ab0c140daefe22cd797199fe8791c);
        
    
            var marker_0e28c223f3ce5ea776db1774a1ed5eeb = L.marker(
                [-38.79878021774267, 143.5620554477211],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_1076d0973668bc6deb89bf3e738a27ae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_0e28c223f3ce5ea776db1774a1ed5eeb.setIcon(icon_1076d0973668bc6deb89bf3e738a27ae);
        
    
            var marker_99dcf72a6a8265eff42559680b88183a = L.marker(
                [-38.80324119282078, 143.56098646261228],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_2d204fa13dafe2a3e7812b70557564c0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_99dcf72a6a8265eff42559680b88183a.setIcon(icon_2d204fa13dafe2a3e7812b70557564c0);
        
    
            var marker_ec51ce1b021955d7b33044c9dd88ac84 = L.marker(
                [-38.805794574199986, 143.57887437026253],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_25d8af8223f3bd1ae927fc2cbc4c20e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_ec51ce1b021955d7b33044c9dd88ac84.setIcon(icon_25d8af8223f3bd1ae927fc2cbc4c20e6);
        
    
            var marker_0cf1df7e24f04eb15494f71c843d7517 = L.marker(
                [-38.78830055809672, 143.55926997051114],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_be7ffc2188ddaaf6132ed230302533d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_0cf1df7e24f04eb15494f71c843d7517.setIcon(icon_be7ffc2188ddaaf6132ed230302533d6);
        
    
            var marker_54d7556d5d4cb1891d863bdff30d5fdf = L.marker(
                [-38.78131561082572, 143.56387415367942],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_8660036a70b6d0568ba2f43cf50e4c5a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_54d7556d5d4cb1891d863bdff30d5fdf.setIcon(icon_8660036a70b6d0568ba2f43cf50e4c5a);
        
    
            var marker_84bd5da5c3d70bfbe72c7127492f5939 = L.marker(
                [-38.77647402447034, 143.57248565216955],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_08a2c19e475cedf1c6c30d8add8385b9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_84bd5da5c3d70bfbe72c7127492f5939.setIcon(icon_08a2c19e475cedf1c6c30d8add8385b9);
        
    
            var marker_cb58f208420f866ae45e12d53ceef1ab = L.marker(
                [-38.77695110023835, 143.54471332746914],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_2286692c7fc9d75f79800f5ecfaf6980 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_cb58f208420f866ae45e12d53ceef1ab.setIcon(icon_2286692c7fc9d75f79800f5ecfaf6980);
        
    
            var marker_5cbe73400ffa2126d1b301352cf8506a = L.marker(
                [-38.80127196703831, 143.57949589692387],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_644d4f2c0ca2decd4aba46235a7edd72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_5cbe73400ffa2126d1b301352cf8506a.setIcon(icon_644d4f2c0ca2decd4aba46235a7edd72);
        
    
            var marker_8ec627d8b34562d2a39861c4c1d3df22 = L.marker(
                [-38.784784655380456, 143.5614984592937],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_33b2553d8f25da9c22f2be9219acf142 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_8ec627d8b34562d2a39861c4c1d3df22.setIcon(icon_33b2553d8f25da9c22f2be9219acf142);
        
    
            var marker_a953116d77ab51b558848f065884fe0d = L.marker(
                [-38.79493470911163, 143.57995233592638],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_62cbe23551dabe5b81145cbd224f122a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_a953116d77ab51b558848f065884fe0d.setIcon(icon_62cbe23551dabe5b81145cbd224f122a);
        
    
            var marker_f72dc02d4026d4b218f9f3f06ca4bfa1 = L.marker(
                [-38.79917724750109, 143.57222403972975],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_d89b2d42dac4cf008f71297a72d9bc4f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_f72dc02d4026d4b218f9f3f06ca4bfa1.setIcon(icon_d89b2d42dac4cf008f71297a72d9bc4f);
        
    
            var marker_937b44e2a2dbd54b0a2efc2c2d3543f0 = L.marker(
                [-38.784002545815454, 143.55267166084198],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_347f823a3a7cbf05c37527a8bc0ccee6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_937b44e2a2dbd54b0a2efc2c2d3543f0.setIcon(icon_347f823a3a7cbf05c37527a8bc0ccee6);
        
    
            var marker_bc78fc6241b63d7e1ae53a5ab56451b1 = L.marker(
                [-38.78647060945234, 143.57005681432798],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_714201588976082a246c019795dfa699 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_bc78fc6241b63d7e1ae53a5ab56451b1.setIcon(icon_714201588976082a246c019795dfa699);
        
    
            var marker_35b0114c74c668462e5843fabc7df4bb = L.marker(
                [-38.79440213060243, 143.55900406412016],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_b0f8e68bd9fe69f3f0ec331dd9ce8170 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_35b0114c74c668462e5843fabc7df4bb.setIcon(icon_b0f8e68bd9fe69f3f0ec331dd9ce8170);
        
    
            var marker_5dd435ceb731d698cd73dcd0f0cdee83 = L.marker(
                [-38.799551905910164, 143.5476735886511],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_5d7d4409e786ea64b8bbb405e00a6691 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_5dd435ceb731d698cd73dcd0f0cdee83.setIcon(icon_5d7d4409e786ea64b8bbb405e00a6691);
        
    
            var marker_e56bf8129487a2b37c39b6fdeda5d38d = L.marker(
                [-38.794360715398476, 143.54327801625334],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_db0bac373c483057f573f3593fcfa2ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e56bf8129487a2b37c39b6fdeda5d38d.setIcon(icon_db0bac373c483057f573f3593fcfa2ed);
        
    
            var marker_2f24443ceb6c35d775be13c264223efc = L.marker(
                [-38.8020617474411, 143.57371955085694],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_fa351ba309253a03113bad9a064cba77 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_2f24443ceb6c35d775be13c264223efc.setIcon(icon_fa351ba309253a03113bad9a064cba77);
        
    
            var marker_0b609166002a4ab4ed148a1c6d94a4df = L.marker(
                [-38.79382212416658, 143.54989451194874],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_ddd43c8cd71d8215b114d86222517a52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_0b609166002a4ab4ed148a1c6d94a4df.setIcon(icon_ddd43c8cd71d8215b114d86222517a52);
        
    
            var marker_545b3d90cff4ae9c537c5dc1ada66793 = L.marker(
                [-38.78877525257008, 143.55531516874166],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_a4cce0a87577fe08055ecc410594519d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_545b3d90cff4ae9c537c5dc1ada66793.setIcon(icon_a4cce0a87577fe08055ecc410594519d);
        
    
            var marker_7f0a8c9353c00f800b915adade706d37 = L.marker(
                [-38.79743300357767, 143.5739018499824],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_189347ece69e9a17a0bef06ecf874cdc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_7f0a8c9353c00f800b915adade706d37.setIcon(icon_189347ece69e9a17a0bef06ecf874cdc);
        
    
            var marker_c8e24cce1bae22abd9d6f41c8a8300c0 = L.marker(
                [-38.77611237343498, 143.54420600122415],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_0778f4c6742a71482a8795dbf5910a9b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_c8e24cce1bae22abd9d6f41c8a8300c0.setIcon(icon_0778f4c6742a71482a8795dbf5910a9b);
        
    
            var marker_c0bce693b6f0306e7649ccb5b4b4c403 = L.marker(
                [-38.79063396418078, 143.55496195513047],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_79a1b0593c834cf285f085ee9e73f6fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_c0bce693b6f0306e7649ccb5b4b4c403.setIcon(icon_79a1b0593c834cf285f085ee9e73f6fb);
        
    
            var marker_75a6dc7ebb03421f5413700bc610ccb9 = L.marker(
                [-38.79243862591048, 143.56784244407368],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_b9dc93a9db9f3b631627662dcc2602ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_75a6dc7ebb03421f5413700bc610ccb9.setIcon(icon_b9dc93a9db9f3b631627662dcc2602ad);
        
    
            var marker_d58350b801f13d352167c5bf8554a070 = L.marker(
                [-38.78116792481196, 143.55479655904026],
                {}
            ).addTo(map_60eb4c1616b1a828b09eb31c3bfdfee8);
        
    
            var icon_2c3b8ddde57d6d913c43ba4d4282c056 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "microphone", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_d58350b801f13d352167c5bf8554a070.setIcon(icon_2c3b8ddde57d6d913c43ba4d4282c056);
        
</script>
</html>