audiomentations
diskcache 
boto3>=1.34,<2
ipykernel
librosa
matplotlib
paho-mqtt==1.6.1
xgboost
numpy
pandas
pydot
pydub
pymongo[srv]
pyproj
scipy
unzip
geopy
folium
shapely
ipympl
asyncio-mqtt
networkx
