model_config_list: {
  config: {
    name: "echo_model",
    base_path: "/models/echo_model",
    model_platform: "tensorflow",
    model_version_policy: { all: {} }
  },
  config: {
    name: "weather_model",
    base_path: "/models/weather_model",
    model_platform: "tensorflow",
    model_version_policy: { all: {} }
  }
}
