audiomentations
diskcache
geopy
google-cloud
google-cloud-storage
ipykernel
librosa
matplotlib
numpy
paho-mqtt<2.0.0
pandas
pymongo[srv]
soundfile
tensorflow==2.15.0
tensorflow-addons
tensorflow_hub
tensorflow_io
xgboost
