audiomentations
diskcache
geopy
google-cloud
google-cloud-storage
ipykernel
librosa
matplotlib
numpy
paho-mqtt
pandas
pymongo[srv]
soundfile
tensorflow
tensorflow-addons
tensorflow_hub
tensorflow_io
xgboost
