body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
}

#mediaDisplay img {
    max-width: 100%;
    margin-top: 20px;
}

#mediaDisplay audio {
    margin-top: 20px;
}

#tagsDisplay {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
