<!-- MQTT-Server/config.xml -->
<hivemq>
    <listeners>
        <tcp-listener>
            <port>1883</port>
        </tcp-listener>
        <tcp-listener>
            <port>1884</port>
        </tcp-listener>
        <websocket-listener>
            <port>8000</port>
        </websocket-listener>
    </listeners>
</hivemq>