@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");


@font-face {
  font-family: "EarthOrbiterCondensed Local";
  src: url("./EarthOrbiterCondensed-nzeV.otf");
}

body {
    background: #1a1a1a;
    font-size: 17px;
    font-weight: bold;
}

.title {
    font-size: 30px; /* Increase font size */
    text-align: center; /* Center the text within its container */
    top: 0px;
    left: 0px;
    font-size: 20px;
    height: 10%;
    font-family: 'Stick No Bills', sans-serif;
    color: rgba(247, 186, 206, 1) !important;
}

h3 {
  color: rgba(247, 186, 206, 1) !important;
}

h2 {
  color: rgba(247, 186, 206, 1) !important;
  font-weight: bold;
}

.logo {
    margin-right: 10px;
}

#blur {
    background-color: #1a1a1a;
}

#basemap {
    /*height: 70%;*/
    width: 100%;
    padding: 0;
    /*border: 1px solid #e7e7e7;*/
    /*border-radius: 10px;*/
}

.main {
    left: 0;
    width: 100vw;
    height: 100vh;
    
}

.menu-header{
  display: block;
  width: 100%;
  height: 100px;
  background-color: rgb(13, 12, 23, 0.8);
}

.image-container {
  width: 120px;
  height: 120px;
  overflow: hidden;
  padding-left: 20px;
  padding-top: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu{
  height: 0%;
  width: 0%;
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  background-color: rgb(10, 10, 25, 0.8);
  overflow-x: hidden;
  position: fixed; 
}

@keyframes quiet {
  25%{
    transform: scaleY(.6);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.6);
  }
}
@keyframes loud {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(1.2);
  }
}

@keyframes silence {
  25% {transform: scaleY(.01) !important}
  50%{transform: scaleY(.01) !important}
  75% {transform: scaleY(.01) !important}
}

body{
  display: flex;
  justify-content: center;
  background: black;
  margin: 0;padding: 0;
  align-items: center;
  height: 100vh;
}

#desc_confidence{
  color: rgba(247, 186, 206, 1);
}

#animal-popup .audio_component {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#animal-popup .audio_component .audioContainer{
  display: flex;
  justify-content: space-between;
  height: 64px;
  --boxSize: 8px;
  --gutter: 8px;
  width: calc((var(--boxSize) + var(--gutter)) * 20);
}

#animal-popup .audioContainer .box{
  transform: scaleY(.01);
  height: 100%;
  width: var(--boxSize);
  background: rgba(247, 186, 206, 0.6) !important;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 , .box6 {
  animation-name: quiet ;
}

.box2 , .box7 {
  animation-name: normal ;
}
.box3 , .box8 {
  animation-name: quiet ;
}

.box4 , .box9{
  animation-name: loud ;
}

.box5 , .box10{
  animation-name: quiet ;
}

.boxmuted {
  animation-name: silence;
}

@media (min-width: 0px) {
  #menu {
    max-width: 550px;
  }
  #filter-menu{
    max-width: 520px;
  }
  #animal-popup{
    max-width: 520px;
  }
  #FAQ{
    max-width: 520px;
  }
  #SIM{
    max-width: 520px;
  }
}

.navbar {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 30px;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: left;
  z-index: 997;
}

#I {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 994;
  top: 0;
  right: 0;
  background-color: none;
  color: rgb(141, 141, 141, 1.0);
  overflow-x: hidden;
  padding-top: 60px;
  margin-top: 30px;
}

  .hamburger-icon {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    position: absolute;
    position: absolute;
    top: 10px; /* adjust this value to set the distance from the top of the container */
    right: 10px; /* adjust this value to set the distance from the right of the container */
    z-index: 999; /* ensure the icon is on top of other content */
    transition: 1s all ease-in-out;
  }
  
  .hamburger-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgb(141, 141, 141, 0.8);
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.1s ease-out;
  }

  audio {
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  audio::-webkit-media-controls-panel {
    background-color: rgba(19, 19, 52, 0.5);
    border-radius: 20px;
  }
  
  .hamburger-icon span:nth-child(1) {
    top: 0px;
  }
  
  .hamburger-icon span:nth-child(2) {
    top: 8px;
  }
  
  .hamburger-icon span:nth-child(3) {
    top: 16px;
  }
  
  .hamburger-icon.active span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg);
  }
  
  .hamburger-icon.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.active span:nth-child(3) {
    top: 8px;
    transform: rotate(-45deg);
  }


  .dropdown-menu {
    width: auto;
    max-width: none;
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  
  .dropdown-menu .col {
    
    vertical-align: top;
    width: 1%;
    
    padding: 0 10px;
  }

.dropdown {
    background-color: none;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    border-radius: 0;
    background-color:rgba(0,0,0,0.5);
    color: black;
}

.dropdown-toggle i {
    margin-right: 5px;
    border-radius: 0;
    background-color: rgba(0,0,0,0.5);
    color: black;
}

.dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
    border-radius: 0;
}

.dropdown-menu li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    border-radius: 0;
}

.form-check-input {
    margin-top: 2px;
}

input[type="checkbox"]:checked{
  background-color: rgba(247, 186, 206, 1) !important;
  border: solid 2px white;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  background-color: rgba(247, 186, 206, 0.6);
  border-color: white;
  outline: none;
}

.vulnerable {
  border-color :rgb(211, 100, 42) !important; 
}

.normal{
  border-color: rgb(101, 188, 71) !important;
}

.endangered{
  border-color: rgb(216, 30, 66)!important;
}

.invasive{
  border-color :rgb(61, 88, 167) !important;
}

.nearthreatened{
  border-color :rgb(209, 184, 43) !important;
}

#content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*font-family: 'Roboto', sans-serif;*/
}


#ABOUT{
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    color: rgb(141, 141, 141, 1.0);
    overflow-x: hidden;
    
    padding-top: 60px;
    margin-top: 30px;

}



#SIM {  
  padding: 0px 0px 0px 0px;
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 995;
  top: 0;
  right: 0;
  background-color: none;
  color: rgb(141, 141, 141, 1.0);
  overflow-x: hidden;
  
  padding-top: 180px;
  margin-top: 30px;
}

#SIM-contents{
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  height: 3000px;
  /*position: fixed;*/
  width: 440px;
  /*top: 110px;*/
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
}

#filter-menu {
  padding: 0px 0px 0px 0px;
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 995;
  top: 0;
  right: 0;
  background-color: none;
  color: rgb(141, 141, 141, 1.0);
  overflow-x: hidden;
  
  padding-top: 180px;
  margin-top: 30px;
  
}

#filter-menu-contents{
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  height: 3000px;
  /*position: fixed;*/
  width: 440px;
  /*top: 110px;*/
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
}

#FAQ {  
  padding: 0px 0px 0px 0px;
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 995;
  top: 0;
  right: 0;
  background-color: none;
  color: rgb(141, 141, 141, 1.0);
  overflow-x: hidden;
  
  padding-top: 180px;
  margin-top: 30px;
}

#FAQ-contents{
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  height: 3000px;
  /*position: fixed;*/
  width: 440px;
  /*top: 110px;*/
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  /*overflow-y: scroll;
  overflow-x: hidden;*/
}

#animal-popup{
  padding: 0px 0px 0px 0px;
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 995;
  top: 0;
  right: 0;
  background-color: none;
  color: rgb(141, 141, 141, 1.0);
  overflow-x: hidden;
  
  padding-top: 180px;
  margin-top: 30px;
}

#animal-popup #animal-popup-content{
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
  height: 3000px;
  /*position: fixed;*/
  width: 440px;
  /*top: 110px;*/
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  /*overflow-y: scroll;
  overflow-x: hidden;*/
/*
  margin-top: 25px;
  display: none;
  margin-left: 30px;
  margin-right: 30px;
  height: 85%;
  position: fixed;
  width: 440px;
  top: 80px;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll !important;
  overflow-x: hidden;*/
}

#animal-default-content{
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  height: 3000px;
  /*position: fixed;*/
  width: 440px;
  /*top: 110px;*/
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
}

#animal-popup #animal-popup-content img#markup_img {
  height: 80px;
  width: auto;
  aspect-ratio: 1;
}

#animal-popup #animal-popup-content img#markup_img_2 {
  height: 80px;
  width: auto;
  aspect-ratio: 1;
}

#animal-popup #animal-popup-content .markup_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#animal-popup #animal-popup-content .markup_form .markup_column {
  height: 80px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted rgb(141, 141, 141, 1.0);
  align-items: center;
}

#animal-popup #animal-popup-content {
  transform: translateY(0px);
}

#animal-popup #animal-popup-content .markup_form .markup_column .markup_row_left {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
}

#animal-popup #animal-popup-content .markup_form .markup_column .markup_row_title {
  width: 80% !important;
}

#animal-popup #animal-popup-content .markup_form .markup_column .markup_row_icon {
  width: 20% !important;
}

#animal-popup #animal-popup-content .markup_form .markup_column .markup_row_right {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;

}

#animal-popup #animal-popup-content #desc_species {
  text-align: end;
  size: 24px;
  font-style: italic;
  font-weight: bold;
}

#animal-popup #animal-popup-content .desc {
  text-align: start;
  size: 16px;
  margin-bottom: 5px;
}

#animal-popup #animal-popup-content .desc .desc_ul{
  text-align: start;
  size: 16px;
  margin-left: 8px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(141, 141, 141, 1.0);
}

#animal-popup a , #animal-popup h2{
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    /*font-size: 27px;*/
    color: rgb(141, 141, 141, 1.0);
    display: block;
    /*font-family: 'Helvetica', sans-serif;*/
}

#animal-popup div{
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    /*font-size: 14px;*/
    color:  rgb(141, 141, 141, 1.0);
    display: block;
    transition: 0.3s;
    /*font-family: 'Roboto', sans-serif;*/
}

#animal-popup img{
    /* padding: 8px 8px 8px 32px; */
    display: block;
    width: 100%;
    height: auto;
    transition: 0.3s;
    font-family: 'Stick No Bills', sans-serif;
}

#animal-popup a:hover {
    color: rgb(var(--background-rgb));
}

#area {
    position: relative;  /* this is needed! */  
    height: 150px;
    background: rgb(141, 141, 141, 1.0);
    margin: 40px;
}

#popup {
    position: absolute;
    height: 10vh;
    width: 20vw;
    background: rgb(39, 39, 39);
    display: none;
    z-index: 2;
    opacity: 0.8;
    color:rgb(19, 101, 19);
}

.popup_bottom_tab{
    height: 80wh !important;
    --bs-offcanvas-height: 80vh !important;
}

.faq_question {
  color: rgb(141, 141, 141, 1.0);
  background-color: transparent;
  width: 100%;
  height: 30px;
  min-height: 14px;
  padding: 30px 0;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq_question:hover {
  background-color: #666;
  opacity: 0.2;
  border-bottom: 2px solid rgb(141, 141, 141, 1.0);
  transition: all 0.1s ease-out;
}

i {
    color: rgb(141, 141, 141, 1.0);
}

.dropdown-toggle {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    color: lightgray;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }

  .dropdown-toggle:hover {
    background-color: none;
  }

  .dropdown-content {
    display: none;
  }

  .show + .dropdown-content {
    display: block;
    padding: 20px;
  }

  .dropdown-menu {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 0;
    
    border-top: none;
    background-color:rgba(0,0,0,0);
    color: rgb(141, 141, 141, 1.0);
    padding: 0;
    list-style: none;
  }

  /* Show the dropdown menu when the button is clicked */
  .show + .dropdown-menu {
    display: block;
    padding: 20px;
  }

  button {
    background-color: transparent;
  }

  .btn-no-background {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    
  }

  .btn.show{
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg) !important;
    border-color: var(--bs-btn-active-border-color);
  }

  .btn-no-background:hover,
  .btn-no-background:focus {
    background-color: transparent;
    border-bottom: 1px solid white;
    
  }

  .toggle-button {
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
  }

  .toggle-button:active {
    background-color: red;
  }
  

  /* Style the list items */
  .dropdown-menu li {
    padding: 8px 16px;
    cursor: pointer;
  }

  .dropdown-menu li:hover {
    opacity: 0.5;
  }

  .label {
    display: none;
    color: red;
    font-size: 12px;
  }

  .dropdown-menu.faq-content {
    width: 100%;
    height: 1150px;
    min-height: 1150px;
  }
  .dropdown-menu.faq-content div + p {
    overflow-wrap: break-word;
    display: inline-block;
  }

  /* Style the checkboxes */
  .form-check-input {
    margin-right: 8px;
  }

  .form-check {
    padding-right: 1em;
  }

  .col {
    padding-top: 1em;
    padding-left: 1em;
  }

  .form-check-label {
    font-size: 17px;
  }
  .voc-icon {
    z-index: 9999;
    
  }
  .voc-icon:hover {
    cursor: pointer;
    opacity: .5;
    pointer-events: auto;
  }

  .toggle-switch-container{
    margin-top: 20px;
  }
  .toggle-label{
    color: rgb(141, 141, 141, 1.0);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
  }
  .past-data-header{
    color: rgb(141, 141, 141, 1.0);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
  }
  .past-data-container{
    margin-bottom: 20px;
  }

.show + .dropdown-menu {
  display: block !important;
  overflow: hidden;
  white-space: normal;
}

.select-all-btn{
  height: 40px !important;
  background-color:rgb(13, 12, 23, 0.8) !important;
  border: 1px solid rgba(247, 186, 206, 0.6) !important;
  margin-top: 5px !important;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: rgb(245, 179, 179);
}

.tabs-button:hover{
  cursor: pointer;
  opacity: 0.6;
}

.tabs-button {
  background: none;
  background-color: rgba(247, 186, 206);
  opacity: 0.4;
  border: none;
  color: #cccccc;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 50px;
  text-align: center;
  transform: translateY(-10px);
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.tabs-button.active {
  background-color: rgba(247, 186, 206, 0.8);
  height: 58px;
  width: 58px;
  transform: translateY(-13px);
  transition: 0.2s ease-in-out;
  opacity: 1;
}

#filter-menu-btn {
  background-image: url("../images/tabIcons/filter.png");
  background-size: cover;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#popup-menu-btn {
  background-image: url("../images/tabIcons/detection.png");
  background-size: cover;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

#FAQ-menu-btn{
  background-image: url("../images/tabIcons/info.png");
  background-size: cover;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
}

#SIM-menu-btn{
  background-image: url("../images/tabIcons/simulator.png");
  background-size: cover;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#filter-menu-btn::before {
  opacity: 0.5;
}
#filter-menu-btn::after {
  opacity: 1;
}


#app {
  display: none;
  margin-top: 100px;
}

#app.is-active {
  display: block;
  position: fixed;
  width: 500px;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: #1a1a1aaf;
  color: #e48595;
  padding: 20px;
  overflow-y: scroll;
}
.wrapper{
  position: relative;
  /*width: 500px;*/ 
  height: 100%; 
  padding: 0; 
  overflow-y: scroll; 
  overflow-x: hidden;
  margin-right: 30px; 
}
/* Width and height of the scrollbar */
.wrapper::-webkit-scrollbar {
  display: block;
  width: 9px !important;
}

/* Background color of the scrollbar track */
.wrapper::-webkit-scrollbar-track {
  background: rgb(141, 141, 141, 0.2);
  height: 200px !important;
}

/* Color of the scrollbar thumb */
.wrapper::-webkit-scrollbar-thumb {
  background: rgba(247, 186, 206, 0.6);
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

/* On hover, highlight the thumb */
.wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(247, 186, 206, 0.8);
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.wrapper::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 500px; 
}

.wrapper::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 100px;
}
