body {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Style for table header */
  thead th {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ddd;
  }
  
  /* Style for alternating table rows */
  tbody tr:nth-child(even) {
    background-color: rgba(0,0,0,0.1);

  }
  
  /* Style for table cells */
  td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Style for the dropdown button */
  .dropdown button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
  }

  /* Style for the dropdown options */
  .dropdown-options {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    top: 100%;
    left: 0;
  }

  /* Show options on button hover */
  .dropdown:hover .dropdown-options {
    display: block;
  }

  /* Style for the approve and deny buttons */
  .approve-btn,
  .deny-btn {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
  }

  /* Style for the buttons on hover */
  .approve-btn:hover,
  .deny-btn:hover {
    background-color: #f0f0f0;
  }

  .dropdown-menu {
    background: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
}