# === Rename .env_example to .env before building the project ===
# === Stripe Payment Gateway ===
STRIPE_PRIVATE_KEY=sk_test_your_stripe_key_here

# === MongoDB ===
DB_HOST=ts-mongodb-cont
DB_NAME=EchoNet
DB_USER=modelUser
DB_USER_PASS=EchoNetAccess2023
DB_ROOT_USER=root
DB_ROOT_USER_PASS=root_password

# === MongoDB URI ===
MONGODB_URI=mongodb://modelUser:EchoNetAccess2023@ts-mongodb-cont:27017/EchoNet
USER_MONGODB_URI=mongodb://root:root_password@ts-mongodb-cont:27017/UserSample?authSource=admin

# === Redis ===
NODE_ENV=development
REDIS_HOST=echo-redis

# === API ===
API_HOST=ts-api-cont

# === Mail ===
MAIL_STARTTLS=true
MAIL_SSL_TLS=false

# Model Adapter Configuration
MODEL_SERVER_URL=http://ts-echo-model-cont:8501/v1/models/echo_model/versions/1:predict
MODEL_REQUEST_TIMEOUT_SECONDS=10
MODEL_SIGNATURE_NAME=serving_default
MODEL_CLASS_NAMES=