# === Rename .env_example to .env before building the project ===

# === Stripe Payment Gateway ===

STRIPE_PRIVATE_KEY=sk_test_your_stripe_key_here

# === MongoDB  Connection ===

MONGODB_URI= "mongodb://modelUser:EchoNetAccess2023@ts-mongodb-cont:27017/EchoNet"

# Please go through "Environment Setup & Stripe Integration Guide" uploaded in the Project Echo team files
