version: "3.8"

services:
  model_server:
    build:
      context: ./Engine
      dockerfile: Model.Dockerfile
      args:
        BASE_IMAGE: tensorflow/serving:latest
        # BASE_IMAGE: emacski/tensorflow-serving # Uncomment if on macos and comment above line
    image: ts-echo-model
    container_name: ts-echo-model-cont
    command: --model_config_file=/models/models.config
    networks:
      - echo-net
    ports:
      - "8501:8501"
    volumes:
      - credentials_volume:/root/.config/gcloud/
    stdin_open: false
    tty: true

  echo_engine:
    build:
      context: ./Engine
      dockerfile: Engine.Dockerfile
      args:
        BASE_IMAGE: tensorflow/tensorflow:latest-gpu
        # BASE_IMAGE: armswdev/tensorflow-arm-neoverse:r24.03-tf-2.15.1-onednn-acl #Uncomment if on MacOS and comment above line
    image: ts-echo-engine
    container_name: ts-echo-engine-cont
    networks:
      - echo-net
    volumes:
      - credentials_volume:/root/.config/gcloud/
    stdin_open: true
    tty: true


  echo_hmi:
    build:
      context: ./HMI
      dockerfile: HMI.Dockerfile
    image: ts-echo-hmi
    container_name: ts-echo-hmi-cont
    # env_file:
    #   - .env
    networks:
      - echo-net
    volumes:
      - ./HMI/ui:/usr/src/app/ui # Mount the HMI/ui directory to /usr/src/app/ui in the container
      - /usr/src/app/ui/node_modules
      - credentials_volume:/root/.config/gcloud/
    ports:
      - "18080:8080"
    restart: on-failure
    depends_on:
      - redis
    stdin_open: true
    tty: true
    environment:
      - NODE_ENV=development


  echo_mqtt:
    build:
      context: ./MQTT-Server
      dockerfile: MQTT.Dockerfile
    image: ts-mqtt-server
    container_name: ts-mqtt-server-cont
    networks:
      - echo-net
    stdin_open: false
    tty: true
    ports:
      - "1883:1883"
      - "7001:7001"
      - "7070:7070"

  echo_simulator:
    build:
      context: ./Simulator
      dockerfile: Simulator.Dockerfile
    image: ts-simulator
    container_name: ts-simulator-cont
    networks:
      - echo-net
    volumes:
      - ./Simulator/src:/app # Mount the Simulator's src directory to /app in the container
      - credentials_volume:/root/.config/gcloud/
    stdin_open: false
    tty: true


  echo_api:
    build:
      context: ./API
      dockerfile: API.Dockerfile
    image: ts-api
    container_name: ts-api-cont
    networks:
      - echo-net
    ports:
      - "9000:9000"
      - "9080:9080"
    volumes:
      - ./API:/app # Mount the API's src directory to /app in the container
      - credentials_volume:/root/.config/gcloud/
      - weather_data:/app/weather_data  # Add a volume for weather data

    stdin_open: false
    tty: true
    command: uvicorn app.main:app --host 0.0.0.0 --port 9000 --reload

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - 8888:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: ts-mongodb-cont
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root_password
    depends_on:
      - echo_store
    networks:
      - echo-net

  echo_store:
    build:
      context: MongoDB/
      dockerfile: MongoDB.Dockerfile
    restart: always
    image: ts-mongodb
    container_name: ts-mongodb-cont
    networks:
      - echo-net
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root_password
      MONGO_INITDB_DATABASE: EchoNet
    ports:
      - "27017:27017"
    volumes:
      - db-data:/data/db

  redis:
    image: redis:latest
    container_name: echo-redis
    ports:
      - "6379:6379"
    networks:
      - echo-net
    command: "sh -c 'redis-server --protected-mode no && sleep 10 && redis-cli ping || exit 1'"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: on-failure

  echo_iot_management:
    build:
      context: ./IoT/management_application
      dockerfile: Dockerfile
    image: ts-iot-management
    container_name: ts-iot-management-cont
    networks:
      - echo-net
    volumes:
      - ./IoT/management_application:/app
    stdin_open: false
    tty: true

networks:
  echo-net:
    driver: bridge

volumes:
  credentials_volume:
  db-data:
  weather_data:
