# === Rename .env_example to .env before building the project ===
# === Stripe Payment Gateway ===
STRIPE_PRIVATE_KEY=sk_test_your_stripe_key_here

# Database Config
# Replace all <placeholders> below with the appropriate credentials and configuration values before running the project.
MONGO_URI=mongodb://<mongo_host>:<mongo_port>/<database_name>
MONGODB_URI=mongodb://<username>:<password>@<mongo_host>:<mongo_port>/<database_name>
USER_MONGODB_URI=mongodb://<username>:<password>@<mongo_host>:<mongo_port>/<database_name>?authSource=<auth_database>

#API_Config
PORT=9000
NODE_ENV=development

# Twilio Configuration
TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here  # in E.164 format e.g., +61412345678