audiomentations
diskcache
geopy
boto3>=1.34,<2
ipykernel
librosa
matplotlib
numpy
paho-mqtt==1.6.1
scikit-learn
pandas
opencv-python
pymongo[srv]
soundfile
tensorflow==2.15.0
xgboost
# torch==1.9.0+cpu
# torchvision==0.10.0+cpu
diskcache
