name: Docker Image CI

on:
  push:
    branches: [ "main", "fix/reduce_docker_size" ]
    paths:
      - 'src/Components/**/*'
      - '.github/workflows/**/*'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/Components/**/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Free Disk Space
      uses: endersonmenezes/free-disk-space@v3  # Use @main for latest, @v3 for stable
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        rm_cmd: "rmz"  # Use 'rmz' for faster deletion (default: 'rm')
        rmz_version: "3.1.1"  # Required when rm_cmd is 'rmz'
        testing: false

    - name: Delete huge unnecessary tools folder
      run: rm -rf /opt/hostedtoolcache

    - uses: actions/checkout@v3
    
    # Install Docker Compose
    - name: Install Docker Compose
      run: |
        sudo apt-get update
        sudo apt-get install -y docker-compose
    
    - name: Build containers
      run: |
        cd src/Components
        docker compose -f docker-compose.test.yml build --no-cache --force-rm
        
    - name: Start containers
      run: |
        cd src/Components
        docker compose -f docker-compose.test.yml up -d
    
    - name: Wait for containers to be ready
      run: sleep 180
      
    - name: Check running containers
      run: |
        cd src/Components
        RUNNING_CONTAINERS=$(docker-compose ps | grep 'Up' | wc -l)
        if [ "$RUNNING_CONTAINERS" -eq 9 ]; then
          echo "All containers are up and running."
        else
          echo "Expected 9 running containers, but found $RUNNING_CONTAINERS. Failing."
          exit 1
        fi
  
    - name: Stop and remove containers
      run: |
        cd src/Components
        docker-compose down
